{block content}
    <div class="container">
        <h1 n:block="title">Přístup zamítnut</h1>
        <p>
            Nemáte oprávnění vstoupit na tuto stránku.<br />
            Pokud je to chyba, kontakujte prosím <b>
                <a href="https://bradavice.eu//ukaz.php?name=Richard+Bufler"
                   target="_blank" class="text-info">profesora Buflera</a>.</b>
        </p>
        <p><small>chyba 403</small></p>
    </div>
{/block}

