{block content}
    <div class="container">
        <h1 n:block="title">Stránka nenalezena</h1>
        <p>
            Stránka, na kterou se snažíte přistopit, neexistuje.
        </p>
        <p><small>chyba 404</small></p>
    </div>
{/block}