{block content}
    <div class="container">
        <h1 n:block="title">Toto není povolené</h1>
        <p>
            Pokoušíte se tu tvořit černou magii. Jděte si s tím hrát prosím jinam.
        </p>
        <p><small>chyba 405</small></p>
    </div>
{/block}
