{block content}
    <div class="container">
        <h1 n:block="title">Chyba</h1>
        <p>
            Nedokázali jsme vyhovět vašemu požadavku. Zkuste to prosím znovu.<br />
            Pokud problém přetrvává, kontakujte prosím <b>
                <a href="https://bradavice.eu//ukaz.php?name=Richard+Bufler"
                   target="_blank" class="text-info">profesora Buflera</a>.</b>
        </p>
    </div>
{/block}
