{block footer}
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://nekromancie.eu">Hlavní stránka</a></li>
                <li class="list-inline-item"><a href="https://bradavice.eu" target="_blank">E-Bradavice</a></li>
                <li class="list-inline-item"><a href="https://www.pottermore.com/" target="_blank">Pottermore</a></li>
                <li class="list-inline-item"><a href="https://www.databazeknih.cz/knihy/johannes-cabal-nekromant-johannes-cabal-120162" target="_blank">Johannes Cabal</a></li>
                <li class="list-inline-item"><a href="http://eldar.cz/cody/magie/necronomicon/index.htm" target="_blank">Necronomicon</a></li>
            </ul>
            <p class="copyright">
                <a class="text-info" href="mailto:joseph.kudlacek@gmail.com" title="Kontaktovat profesora">Richard Bufler</a> © 2018 – 2020<br />
                <a class="text-light" href="https://nette.org/cs/" target="_blank"><i>Powered by Nette</i></a>
                and <a class="text-light" href="https://getbootstrap.com/" target="_blank"><i>Bootstrap</i></a><br />
                <a class="text-secondary" href="{link Changelog:show}" title="Zobrazí historii změn webu">Verze {$version}</a>
            </p>
        </footer>
    </div>
{/block}