{block navbar}
{if $user->getIdentity()}
    {if $user->isInRole('Profesor')}
        {include "profesor.latte"}
    {elseif $user->isInRole('Student')}
        {include "student.latte"}
    {/if}
{else}
    {include "guest.latte"}
{/if}
{/block}