{block content}
    <div class="container">
        <h1 n:block=title>Pokyny pro eseje k NKÚ</h1>
        <div class="text-center">
            <img src="{$basePath}/nku/eseje_2021.PNG" alt="Obrázek doplňujících pokynů pro témata esejí NKÚ 2021/22">
        </div>
    </div>
{/block}