{block content}
    <div class="container">
        <h1 n:block=title>Praktická část zkoušky NKÚ</h1>
        <div class="text-center">
            <img src="{$basePath}/nku/praxe_2021.PNG" alt="Obrázek praktické části zkoušky NKÚ 2021/22">
        </div>
    </div>
{/block}