{block content}
    <div class="container">
        <h1 n:block=title>Teoretická část zkoušky NKÚ</h1>
        <div class="text-center">
            <img src="{$basePath}/nku/teorie_2021.PNG" alt="Obrázek teoretických okruhů NKÚ 2021/22">
        </div>
    </div>
{/block}