parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 2 hours


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter
	- App\Model\About
	- App\Model\Character
	- App\Model\Rule
	- App\Model\Curriculum