parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 2 hours


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter
	- App\Model\About
	- App\Model\Activity
	- App\Model\ActivityType
	- App\Model\Arc
	- App\Model\Assessment
	- App\Model\Attendance
	- App\Model\AttendanceType
	- App\Model\Card
	- App\Model\Character
	- App\Model\Disquisition
	- App\Model\Error
	- App\Model\Evaluation
	- App\Model\Lesson
	- App\Model\Mark
	- App\Model\Homework
	- App\Model\HomeworkType
	- App\Model\House
	- App\Model\Rule
	- App\Model\Curriculum
	- App\Model\Semester
	- App\Model\SemesterAssessment
	- App\Model\Suggestion
	- App\Model\StudentAssessment
	- App\Model\StudyClass
	- App\Model\Student
	- App\Model\Transaction
	- App\Model\User
	- App\Model\Year
	- App\MyAuthenticator
	- App\Presenters\SignPresenter
	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
