{layout false}
<html>
<head>
    <meta charset="utf-8">
    <title>Nové heslo</title>
</head>
<body>
<p>Dobrý den,</p>

<p>Bylo Vám vygenerováno nové heslo: <strong>{$newPassword}</strong><br />
    S pozdravem a přáním pěkného dne,
    <a href="{link Homepage:default}">www.nekromancie.eu</a>
</p>
</body>
</html>